<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Bookings</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.3.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"
    ></script>
    <script type="text/javascript">
      $(document).ready(function(){ $("#mytable").DataTable(); })
    </script>
    <style>
      body{ margin: 0; padding: 0; font-family: 'Jost', sans-serif; background:
      linear-gradient(to bottom, wheat, rgb(225, 177, 90), rgb(232, 165, 42)); }
      #header{ display: flex; flex-direction:row; justify-content:space-between;
      color: rgb(163, 51, 4); }button{ justify-content: center; color: rgb(163,
      51, 4); background: rgb(255, 255, 255); font-size: 1em; font-weight:
      bold;height: 35px; outline: none; border: none; border-radius: 5px;
      transition: .2s ease-in; cursor: pointer;margin-left: 75px} button:hover{
      background: rgb(220, 217, 213); color: rgb(163, 51, 4)} td form > button{
      background-color: rgb(232, 165, 42); color: white; }
    </style>
  </head>
  <body>
    <div id="header" style="width:100%">
      <h1 style="margin-left: 10px;">Ticket Booking System</h1>
      <div style="display: flex; flex-direction:row; align-items:baseline">
        <a
          href="./adhome"
          style="text-decoration:none;margin-right:20px;color:rgb(163, 51, 4);border:1px rgb(163, 51, 4) solid; border-radius:45%"
        ><h1>All Flights</h1></a>
        <form action="/logout" method="get" style="margin-right: 20px;">
          <button type="submit">logout</button>
        </form>
      </div>
    </div>
    <h1 style="margin-right:10px;color:rgb(163, 51, 4)">All Bookings</h1>
    <table id="mytable" class="display" border="1" style="width: 100%;">
      <thead>
        <th>FLight Name</th>
        <th>Flight Id</th>
        <th>User Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>No of Tickets</th>
        <th>Cancel</th>
      </thead>
      <tbody>
        {{#each this.bookingData as |bookingData index|}}
          <tr>
            <td>{{this.flight}}</td>
            <td>{{this.flight_id}}</td>
            <td>{{this.passenger}}</td>
            <td>{{this.date}}</td>
            <td>{{this.time}}</td>
            <td>{{this.ticketcount}}</td>
            <td><form action="cancel" method="post">
                <input
                  type="text"
                  name="number"
                  hidden
                  value="{{this.flight_id}}"
                />
                <input
                  type="text"
                  name="pass"
                  hidden
                  value="{{this.passenger}}"
                />
                <input
                  type="text"
                  name="count"
                  hidden
                  value="{{this.ticketcount}}"
                />
                <button type="submit">cancel</button>
              </form></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>