<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.3.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"
    ></script>
    <script type="text/javascript">
      $(document).ready(function(){ $("#mytable").DataTable(); })
    </script>
    <link rel="stylesheet" href="/adhomestyle.css" />
  </head>
  <body>
    <div class="navbar">
      <div style="display: flex;align-items:center">
        <img
          src="https://i.pinimg.com/originals/d6/d1/e0/d6d1e0bbdd2eda8f44a2125154670e82.gif"
          width="180px"
          height="100px"
          style="margin-right: 20px;"
        /><h1>Fly Right Booking</h1>
      </div>
      <div
        style="display: flex; flex-direction:row; align-items:baseline;margin-top:20px"
      >
        <a
          href="./adbooking"
          style="text-decoration:none;margin-right:20px;"
        >All Bookings</a>
        <form
          action="/logout"
          method="get"
          style="margin-right: 20px;"
          onsubmit="return confirmSubmit()"
        >
          <button type="submit">logout</button>
        </form>
      </div>
    </div>
    <div class="datatable-container"><div style="display: flex;">
        <h1 style="margin-right:10px;color:#213555">All Flights</h1>
        <form action="/modFlight" method="get">
          <button style="margin-top:22px;" type="submit">add</button>
        </form>
      </div>
      <table border="1" style="width: 100%;" id="mytable" class="display">
        <thead>
          <th>Name</th>
          <th>Number</th>
          <th>Date</th>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Av. Seats</th>
          <th>Bkd Seats</th>
          <th>Time</th>
          <th>Update</th>
          <th>Remove</th>
        </thead>
        <tbody>
          {{#each this.flightData as |flightData index|}}
            <tr>
              <td>{{this.flight}}</td>
              <td>{{this.number}}</td>
              <td>{{this.date.value}}</td>
              <td>{{this.departure}}</td>
              <td>{{this.arrival}}</td>
              <td>{{this.avseats}}</td>
              <td>{{this.bkseats}}</td>
              <td>{{this.time}}</td>
              <td>
                <form action="/updflight" method="post">
                  <input
                    type="text"
                    name="number"
                    hidden
                    value="{{this.number}}"
                  />
                  <button type="submit" value="update">update</button>
                </form>
              </td>
              <td><form action="/delconf" method="post">
                  <input
                    type="text"
                    name="flinum"
                    hidden
                    value="{{this.number}}"
                  />
                  <button type="submit" value="remove">remove</button>
                </form></td>
            </tr>
          {{/each}}
        </tbody>
      </table></div>
    <script>
      function confirmSubmit() { return confirm(`Are you sure?`); }
    </script>
  </body>
</html>