<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Tickets</title>
    <style>
      body{ margin: 0; padding: 0; font-family: 'Jost', sans-serif; background:
      linear-gradient(to bottom, wheat, rgb(225, 177, 90), rgb(232, 165, 42)); }
      .card{ box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;
      width:40%; } .card:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }
      .container { padding: 2px 16px; } img{ box-shadow: 0 4px 8px 0
      rgba(0,0,0,0.2);width: 100%; height: 280px;}button{ justify-content:
      center; color:rgb(163, 51, 4); background: rgb(255, 255, 255); font-size:
      1em; font-weight: bold;height: 35px; outline: none; border: none;
      border-radius: 5px; transition: .2s ease-in; cursor: pointer; }
      button:hover{ background: rgb(220, 217, 213); color:rgb(163, 51, 4);}
    </style>
  </head>
  <body>
    <h1>Book the Tickets</h1>
    <div style="display: flex; flex-direction:row;">
      <div
        class="card"
        style="display: flex; flex-direction:row;align-items:center"
      >
        <div class="container">
          <em><h1>{{this.flightData.name}}</h1></em>
          <em>From:
            <span
              style="font-weight: bold;"
            >{{this.flightData.from}}</span></em><br />
          <em>To:
            <span
              style="font-weight: bold;"
            >{{this.flightData.to}}</span></em><br />
          <em>Date:
            <span
              style="font-weight: bold;"
            >{{this.flightData.date}}</span></em><br />
          <em>Time:
            <span
              style="font-weight: bold;"
            >{{this.flightData.time}}</span></em><br />
          <em>Available seats:
            <span
              style="font-weight: bold;"
            >{{this.flightData.seats}}</span></em><br />
        </div>
        <div class="img-container">
          <img
            src="https://media.istockphoto.com/id/155380716/photo/commercial-jet-flying-over-clouds.jpg?s=612x612&w=0&k=20&c=idhnJ7ZdrLA1Dv5GO2R28A8WCx1SXCFVLu5_2cfdvXw="
            alt="img"
          />
        </div>
      </div>
      <div style="margin-left:20px">

        <h1>Book Now!!</h1>
        <form
          id="form_com"
          class="tick-form"
          action="/payCash"
          method="post"
        >
          <input
            type="text"
            name="name"
            value={{this.flightData.name}}
            hidden
            id="name"
          />
          <input
            type="text"
            name="number"
            value={{this.flightData.number}}
            hidden
            id="number"
          />
          <input
            type="text"
            name="from"
            value={{this.flightData.from}}
            hidden
            id="from"
          />
          <input
            type="text"
            name="to"
            hidden
            id="to"
            value={{this.flightData.to}}
          />
          <input
            type="text"
            name="date"
            hidden
            id="date"
            value={{this.flightData.date}}
          />
          <input
            type="text"
            name="time"
            value={{this.flightData.time}}
            hidden
            id="time"
          />
          <input
            type="text"
            name="seats"
            value={{this.flightData.seats}}
            hidden
            id="seats"
          />
          <label for="no-of-tick">No of Tickets:</label>
          <input type="text" name="nooftick" placeholder="No of tickets" />
          <br />
          <button type="submit">book</button>
        </form>

      </div>
    </div>
    <form action="">

    </form>
  </body>
</html>