<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remove Flight</title>
    <link rel="stylesheet" href="/paymentstyle.css" />
  </head>
  <body>

    <div style="display: flex; flex-direction:row;">
      <div
        class="card"
        style="display: flex; flex-direction:row;align-items:center"
      >
        <div class="container">
          <em><h1>{{this.flightData.flight}}</h1></em>
          <em>From:
            <span
              style="font-weight: bold;"
            >{{this.flightData.departure}}</span></em><br />
          <em>To:
            <span
              style="font-weight: bold;"
            >{{this.flightData.arrival}}</span></em><br />
          <em>Date:
            <span
              style="font-weight: bold;"
            >{{this.flightData.date}}</span></em><br />
          <em>Time:
            <span
              style="font-weight: bold;"
            >{{this.flightData.time}}</span></em><br />
        </div>
        <div class="img-container">
          <img
            src="https://media.istockphoto.com/id/155380716/photo/commercial-jet-flying-over-clouds.jpg?s=612x612&w=0&k=20&c=idhnJ7ZdrLA1Dv5GO2R28A8WCx1SXCFVLu5_2cfdvXw="
            alt="img"
          />
        </div>
      </div>
      <div style="margin-left:20px">

        <h1>Remove flight!!</h1>
        <form id="form_com" class="tick-form" action="/delFlight" method="post">
          <input
            type="text"
            name="number"
            value={{this.flightData.number}}
            hidden
            id="number"
          />
          <label for="no-of-tick">if you're sure remove the flight,type
            <strong>REMOVE</strong>
            in the text box.</label>
          <br />
          <input type="text" name="deltext" placeholder="" />
          <br />
          <button type="submit">confirm</button>
        </form>

      </div>
    </div>
  </body>
</html>