<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remove Flight</title>
    <link rel="stylesheet" href="/booktickstyle.css" />
    <style>body { margin: 0; padding: 0; font-family: "Jost", sans-serif; /*
      background: #f5efe7; */ background-color: #ffdee9; background-image:
      linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); color: #213555; } .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); transition: 0.3s; width: 50%;
      height: 50%; /* background-color: #d8c4b6; */ /* background-image:
      linear-gradient(to right, #74ebd5 0%, #9face6 100%); */ background-image:
      linear-gradient( to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%,
      #e9e9e7 100% ); } .card:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0,
      0.2); } .container { padding: 2px 16px; width: 320px; } img { box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2); width: 88%; height: 100%; margin-left:
      60px; } button { justify-content: center; background: #4f709c; color:
      #f5efe7; font-size: 1em; font-weight: bold; height: 35px; outline: none;
      border: none; width: 80px; border-radius: 5px; transition: 0.2s ease-in;
      cursor: pointer; } button:hover { background: #d8c4b6; color: #4f709c; }
      .maindiv { margin-top: 20px; display: flex; flex-direction: column;
      align-items: center; justify-content: center; /* overflow: scroll; */ }
      input { font: inherit; } .formdiv { width: 40%; } em { margin-top: 15px; }
      .passengerdiv { display: grid; grid-template-columns: 350px 350px; }
      .cardpass { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); transition: 0.3s;
      /* background-color: #d8c4b6; */ width: 340px; padding: 40px 10px; height:
      60px; margin-top: 30px; } .cardpass:hover { box-shadow: 0 8px 16px 0
      rgba(0, 0, 0, 0.2); } .div1pass { margin-bottom: 20px; } .div1pass > input
      { margin-left: 4px; } .div2pass > input { margin-left: 18px; } .div1pass >
      label { font-weight: bold; } .div2pass > label { font-weight: bold; }
      button:disabled { background: #d8c4b6; color: #4f709c; }
    </style>
  </head>
  <body>

    <div class="maindiv">
      <div
        class="card"
        style="display: flex; flex-direction:row;align-items:center"
      >
        <div class="container">
          <em><h1>{{this.flightData.flight}}</h1></em>
          <em>From:
            <span
              style="font-weight: bold;"
            >{{this.flightData.departure}}</span></em><br />
          <em>To:
            <span
              style="font-weight: bold;"
            >{{this.flightData.arrival}}</span></em><br />
          <em>Date:
            <span
              style="font-weight: bold;"
            >{{this.flightData.date.value}}</span></em><br />
          <em>Time:
            <span
              style="font-weight: bold;"
            >{{this.flightData.time}}</span></em><br />
        </div>
        <div class="img-container">
          <img
            src="https://media.istockphoto.com/id/155380716/photo/commercial-jet-flying-over-clouds.jpg?s=612x612&w=0&k=20&c=idhnJ7ZdrLA1Dv5GO2R28A8WCx1SXCFVLu5_2cfdvXw="
            alt="img"
          />
        </div>
      </div>
      <div class="formdiv">

        <h1>Remove flight!!</h1>
        <form id="form_com" class="tick-form" action="/delFlight" method="post">
          <input
            type="text"
            name="number"
            value={{this.flightData.number}}
            hidden
            id="number"
          />
          <div style="margin-bottom: 10px;"><label for="no-of-tick">if you're
              sure remove the flight,type
              <strong>REMOVE</strong>
              in the text box.</label></div>
          <div style="margin-bottom: 10px;"><input
              type="text"
              name="deltext"
              placeholder=""
            /></div>

          <button type="submit">confirm</button>
        </form>

      </div>
    </div>
  </body>
</html>