<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.3.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"
    ></script>
    <script type="text/javascript">
      $(document).ready(function(){ $("#mytable").DataTable(); });
    </script>
    <style>
      body{ margin: 0; padding: 0; font-family: 'Jost', sans-serif; background:
      linear-gradient(to bottom, wheat, rgb(225, 177, 90), rgb(232, 165, 42));
      }#header{ display: flex; flex-direction:row;
      justify-content:space-between; color:rgb(163, 51, 4); }button{
      justify-content: center; color:rgb(163, 51, 4); background: rgb(255, 255,
      255); font-size: 1em; font-weight: bold;height: 35px; outline: none;
      border: none; border-radius: 5px; transition: .2s ease-in; cursor:
      pointer; } button:hover{ background: rgb(220, 217, 213); color:rgb(163,
      51, 4);}td form > button{ background-color: rgb(232, 165, 42); color:
      white; }
    </style>
  </head>
  <body>
    <div
      id="header"
      style="display: flex; flex-direction:row; justify-content:space-between;"
    >
      <h1>Ticket Booking System</h1>
      <div style="display: flex; flex-direction:row; align-items:baseline">
        <a
          href="./booking"
          style="text-decoration:none;margin-right:20px;color:rgb(163, 51, 4);border:1px rgb(163, 51, 4) solid; border-radius:45%"
        ><h1>My Bookings</h1></a>
        <form action="/logout" method="get" style="margin-right: 20px;">
          <button type="submit">logout</button>
        </form>
      </div>
    </div>
    <h1 style="margin-right:10px;color:rgb(163, 51, 4)">All Flights</h1>
    <form action="/searchFlight" method="post">
      <input
        type="text"
        style="width:18%"
        placeholder="Departure"
        name="from"
        required=""
      />
      <input
        type="text"
        style="width:18%"
        placeholder="Destination"
        name="to"
        required=""
      />
      <button type="submit">search</button>
    </form>
    <form action="/showAll"><button type="submit">show All</button></form>
    <table id="mytable" class="display" border="1" style="width: 100%;">
      <thead>
        <th>Name</th>
        <th>Number</th>
        <th>Date</th>
        <th>Departure</th>
        <th>Destination</th>
        <th>Seats</th>
        <th>Time</th>
        <th>Book</th>
      </thead>
      <tbody>
        {{#each this.flightData as |flightData index|}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.number}}</td>
            <td>{{this.date}}</td>
            <td>{{this.from}}</td>
            <td>{{this.to}}</td>
            <td>{{this.seats}}</td>
            <td>{{this.time}}</td>
            <td><form action="/bookTicket" method="post">
                <input
                  type="text"
                  name="name"
                  value={{this.name}}
                  hidden
                  id="name"
                />
                <input
                  type="text"
                  name="number"
                  value={{this.number}}
                  hidden
                  id="number"
                />
                <input
                  type="text"
                  name="from"
                  value={{this.from}}
                  hidden
                  id="from"
                />
                <input type="text" name="to" hidden id="to" value={{this.to}} />
                <input
                  type="text"
                  name="date"
                  hidden
                  id="date"
                  value={{this.date}}
                />
                <input
                  type="text"
                  name="time"
                  value={{this.time}}
                  hidden
                  id="time"
                />
                <input
                  type="text"
                  name="seats"
                  value={{this.seats}}
                  hidden
                  id="seats"
                />
                <button type="submit">book</button></form></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>