<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Tickets</title>
    <link rel="stylesheet" href="/booktickstyle.css" />

  </head>
  <body>
    <div class="maindiv">
      <div
        class="card"
        style="display: flex; flex-direction:row;align-items:center"
      >
        <div class="container">
          <em><h1>{{this.flightData.flight}}</h1></em>
          <em>From:
            <span
              style="font-weight: bold;"
            >{{this.flightData.departure}}</span></em><br />
          <em>To:
            <span
              style="font-weight: bold;"
            >{{this.flightData.arrival}}</span></em><br />
          <em>Date:
            <span
              style="font-weight: bold;"
            >{{this.flightData.date}}</span></em><br />
          <em>Time:
            <span
              style="font-weight: bold;"
            >{{this.flightData.time}}</span></em><br />
          <em>Tickets:
            <span
              style="font-weight: bold;"
            >{{this.flightData.nooftick}}</span></em><br />
        </div>
        <div class="img-container">
          <img
            src="https://media.istockphoto.com/id/155380716/photo/commercial-jet-flying-over-clouds.jpg?s=612x612&w=0&k=20&c=idhnJ7ZdrLA1Dv5GO2R28A8WCx1SXCFVLu5_2cfdvXw="
            alt="img"
          />
        </div>
      </div>
      <div class="formdiv">

        <h1>Book Now!!</h1>
        <form
          id="form_com"
          class="tick-form"
          action="/bookTickets"
          method="post"
          onsubmit="return confirmSubmit()"
        >
          <input
            type="text"
            name="number"
            value={{this.flightData.number}}
            hidden
            id="number"
          />
          <input
            type="text"
            name="nooftick"
            value={{this.flightData.nooftick}}
            hidden
            id="nooftick"
          />
          <div style="margin-bottom: 10px;"><label
              style="margin-bottom:10px"
              for="no-of-tick"
            ><strong>Amount for
                {{this.flightData.nooftick}}
                tickets is
                {{this.flightData.amount}}</strong></label></div>

          <input
            type="text"
            name="accno"
            placeholder="enter bank acc no"
            required=""
          />

          <button type="submit">pay</button>
          <script>
            function confirmSubmit() { return confirm(`Are you sure you want to
            submit the form?`); }
          </script>
        </form>
      </div>
    </div>
  </body>
</html>