<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modify Flight</title>
    <link rel="stylesheet" href="/modflightstyle.css" />
    <script src="/modflightjs.js">
    </script>
    <style>body { margin: 0; padding: 0; font-family: "Jost", sans-serif; /*
      background: #f5efe7; */ background-color: #ffdee9; background-image:
      linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); color: #213555; display:
      flex; justify-content: center; align-items: center; margin-top: 120px;
      flex-direction: column; } button { justify-content: center; background:
      #4f709c; color: #f5efe7; font-size: 1em; font-weight: bold; width: 80px;
      height: 35px; outline: none; border: none; border-radius: 5px; transition:
      0.2s ease-in; cursor: pointer; margin-left: 150px; } button:hover {
      background: #f5efe7; color: #4f709c; } .card { display: flex;
      flex-direction: column; justify-content: center; align-items: center; /*
      background-color: #d8c4b6; */ background-image: linear-gradient( to top,
      #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100% );
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); transition: 0.3s; width: 40%;
      border-radius: 10px; height: 60%; } .card:hover { box-shadow: 0 8px 16px 0
      rgba(0, 0, 0, 0.2); } .head { color: #213555; } input { margin-bottom:
      10px; font: inherit; padding: 0.2em 0.5em; width: 260px; } label { color:
      #213555; display: inline-block; font-weight: 600; width: 100px; }
    </style>
  </head>
  <body>

    <div class="card">
      <h1>Update Flight</h1>
      <form action="/updateFlight" method="post">
        <label for="name">Name:</label>
        <input
          type="text"
          name="name"
          placeholder="Name of the flight"
          id="name"
          value="{{this.flightData.flight}}"
        />
        <br />
        <input
          type="text"
          name="number"
          placeholder="Number of the flight"
          id="number"
          hidden
          value="{{this.flightData.number}}"
        />
        <label for="from">Departure:</label>
        <input
          type="text"
          name="from"
          placeholder="From"
          id="from"
          value="{{this.flightData.departure}}"
        />
        <br />
        <label for="to">Arrival:</label>
        <input
          type="text"
          name="to"
          placeholder="To"
          id="to"
          value={{this.flightData.arrival}}
        />
        <br />
        <label for="date">Date:</label>
        <input
          type="date"
          name="date"
          placeholder="dd-mm-yyyy"
          id="date"
          value="{{this.flightData.date}}"
        />
        <script>document.getElementById('date').min =
          getDate();console.log(document.getElementById('date').min);</script>
        <br />
        <label for="time">Time:</label>
        <input
          type="time"
          name="time"
          placeholder=""
          id="time"
          value="{{this.flightData.time}}"
        />
        <br />
        <input
          type="text"
          name="seats"
          placeholder="Enter no of seats"
          id="seats"
          value="{{this.flightData.avseats}}"
          hidden
        />
        <br />
        <button type="submit">update</button>
      </form>
    </div>
  </body>
</html>