<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modify Flight</title>
    <link rel="stylesheet" href="/modflightstyle.css" />
    <script src="/modflightjs.js">
    </script>
  </head>
  <body>

    <div class="card">
      <h1>Update Flight</h1>
      <form action="/updateFlight" method="post">
        <label for="name">Name:</label>
        <input
          type="text"
          name="name"
          placeholder="Name of the flight"
          id="name"
          value="{{this.flightData.flight}}"
        />
        <br />
        <input
          type="text"
          name="number"
          placeholder="Number of the flight"
          id="number"
          hidden
          value="{{this.flightData.number}}"
        />
        <label for="from">Departure:</label>
        <input
          type="text"
          name="from"
          placeholder="From"
          id="from"
          value="{{this.flightData.departure}}"
        />
        <br />
        <label for="to">Arrival:</label>
        <input
          type="text"
          name="to"
          placeholder="To"
          id="to"
          value={{this.flightData.arrival}}
        />
        <br />
        <label for="date">Date:</label>
        <input
          type="date"
          name="date"
          placeholder="dd-mm-yyyy"
          id="date"
          value="{{this.flightData.date}}"
        />
        <script>document.getElementById('date').min =
          getDate();console.log(document.getElementById('date').min);</script>
        <br />
        <label for="time">Time:</label>
        <input
          type="time"
          name="time"
          placeholder=""
          id="time"
          value="{{this.flightData.time}}"
        />
        <br />
        <input
          type="text"
          name="seats"
          placeholder="Enter no of seats"
          id="seats"
          value="{{this.flightData.avseats}}"
          hidden
        />
        <br />
        <button type="submit">update</button>
      </form>
    </div>
  </body>
</html>